$primary: #212121;
$secondary: #4b4b4b;
$accent: #40dc82;

$emph-factor: 2%;

$_values: (
    primary: $primary,
    secondary: $secondary,
    accent: $accent,
);

@each $key, $value in $_values {
    $emph: if(
        lightness($value) > 50,
        darken($value, $emph-factor),
        lighten($value, $emph-factor)
    );

    $empht: if(
        lightness($value) > 50,
        darken($value, $emph-factor * 10),
        lighten($value, $emph-factor * 10)
    );

    $text: if(
        lightness($value) > 50,
        darken($value, $emph-factor * 20),
        lighten($value, $emph-factor * 20)
    );

    .bg-#{$key} {
        background-color: $value;
    }

    .bg-#{$key}-emph {
        background-color: $emph;
    }

    .border-#{$key} {
        border-color: $value;
    }

    .border-#{$key}-emph {
        border-color: $emph;
    }

    .text-#{$key} {
        color: $text;
    }

    .text-#{$key}-emph {
        color: $empht;
    }
}
